/* DEFINE O CORPO DA PÁGINA */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* DEFINE O CORPO DA PÁGINA */
body {
  margin: 0; /* Removendo a margem padrão */
  padding: 0; /* Removendo o preenchimento padrão */
  font-family: "Poppins", sans-serif; /* Define a fonte */
  font-weight: 300; /* Define o peso da fonte */
  font-style: normal; /* Define o estilo da fonte */
}

.diagonal-gradient {
  width: 100%; /* Define a largura do gradiente */
  height: 100vh; /* Define a altura do gradiente */
  background: linear-gradient(to bottom right, #003185, #000000);
}

.navbar {
  background-color: #000000; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 60px 0; /* Preenchimento vertical apenas */
  position: relative; /* Define a posição relativa */
  display: flex; /* Layout flexível */
  justify-content: space-between; /* Alinhamento dos itens */
  align-items: center; /* Centraliza os itens verticalmente */
  border-bottom: 1px solid #fff; /* Borda branca na parte inferior */
  width: 100%; /* Ocupará 100% da largura da viewport */
  left: 0; /* Alinhamento à esquerda */
  right: 0; /* Alinhamento à direita */
  margin: 0; /* Remove qualquer margem */
  box-sizing: border-box; /* Inclui preenchimento e borda na largura total */
}

h1{
    color: #003185;
    font-family: "Poppins", sans-serif;    
}

/* Estilos para o ícone de perfil */
.Perfil-Momentaneo {
    position: absolute;
    right: 90vw; /* Use vw (viewport width) para manter a distância da borda direita relativa ao tamanho da tela */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Mantém centralizado verticalmente */
    display: flex;
    justify-content: flex-start;
  }
  
  .Perfil-Momentaneo img {
    width: 80px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 991px) {
    .Perfil-Momentaneo {
      right: 10vw; /* Aumenta a margem da direita para telas menores */
    }
  }
  
  @media (max-width: 767px) {
    .Perfil-Momentaneo {
      right: 15vw; /* Ajusta ainda mais a posição para telas de tablets ou menores */
    }
  }

/* ESTILOS PARA O DROPDOWN */
.dropdown {
  position: absolute; /* Define a posição absoluta */
  right: 20px; /* Alinha o dropdown à direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Centraliza verticalmente */
}

.dropbtn {
  background-color: #000000; /* Define a cor de fundo do botão */
  color: #2EDBD3; /* Define a cor do texto */
  padding: 16px; /* Adiciona preenchimento */
  font-size: 40px; /* Define o tamanho da fonte */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

/* ESTILOS PARA O CONTEÚDO DO DROPDOWN */
.dropdown-content {
  display: none; /* Oculta o conteúdo por padrão */
  position: absolute; /* Define a posição absoluta */
  background: linear-gradient(to bottom right, rgb(0, 0, 0), #003185); /* Define o gradiente de fundo */
  min-width: 150px; /* Define a largura mínima */
  z-index: 1; /* Define a ordem de empilhamento */
  overflow: hidden; /* Oculta o overflow */
  transition: max-height 0.3s ease-in-out; /* Aplica uma transição suave */
  max-height: 0; /* Define a altura máxima inicialmente como zero */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  right: 0; /* Alinha o dropdown à direita */
}

.dropdown.active .dropdown-content {
  display: block; /* Exibe o conteúdo quando o dropdown está ativo */
  max-height: 230px; /* Define a altura máxima */
}

/* ESTILOS PARA OS ITENS DO DROPDOWN */
.dropdown-content a {
  color: rgb(255, 255, 255); /* Define a cor do texto */
  padding: 12px 16px; /* Adiciona preenchimento */
  text-decoration: none; /* Remove a decoração de texto */
  display: flex; /* Define como flex para permitir o alinhamento */
  align-items: center; /* Centraliza verticalmente */
}

.dropdown-content a:hover {
  background-color: #85857b; /* Define a cor de fundo ao passar o mouse */
}

/* ESTILOS PARA OS ITENS DO DROPDOWN */
.dropdown-item {
  padding: 3px; /* Reduz o preenchimento interno dos itens */
  margin: 10px; /* Adiciona uma margem entre os itens e a caixa do dropdown */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: flex-start; /* Alinha os itens à esquerda */
  background: linear-gradient(to bottom right, rgb(0, 0, 0), #003185); /* Define o gradiente de fundo */
  color: #fff; /* Define a cor do texto */
}

/* ESTILOS PARA AS IMAGENS DENTRO DOS ITENS DO DROPDOWN */
.dropdown-item img {
  width: 20px; /* Ajuste conforme necessário */
  height: 20px; /* Ajuste conforme necessário */
  margin-right: 10px; /* Adiciona espaço entre a imagem e o texto */
}

/* Estilos para o texto "Categorias" */
.categorias {
    color: #2EDBD3; /* Cor do texto */
    font-size: 25px; /* Tamanho da fonte */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    white-space: nowrap; /* Evita que o texto quebre em linhas */
}

.container {
  display: flex; /* Usa um layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  position: absolute; /* posicionamento absoluto */
  top: 50%; /* Ajusta para o centro vertical da tela */
  left: 50%; /* Ajusta para o centro horizontal da tela */
  transform: translate(-50%, -50%); /* Corrige a posição para o centro */
  margin-top: 0; /* Remove a margem superior para evitar deslocamento */
  border-radius: 10px;
  flex-wrap: wrap; /* Permite que as caixinhas se movam para a linha seguinte, se necessário */
  max-width: 90%; /* Define uma largura máxima para a container */
}

.caixinha {
  width: 90px; /* Mantendo a largura original da caixinha */
  height: 90px;
  background-color: #ffffff;
  margin: 80px; /* Aumenta a margem para melhor espaçamento */
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container a {
  text-decoration: none !important; /* Remover sublinhado de link */
}

.caixinha-container1 h2,
.caixinha-container2 h2,
.caixinha-container3 h2,
.caixinha-container4 h2,
.caixinha-container5 h2 {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #ffde59 !important;
  margin: 10px;
  text-align: center;
}

h2 {
  font-size: 24px; /* Ajustar o tamanho da fonte */
  color: #ffde59;
  text-align: center;
}

.caixinha img {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  display: block;
  margin: auto;
}

.mensagem {
    color: #2EDBD3;
    font-size: 10px; /* Reduzindo o tamanho da fonte */
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* Ajustando a largura da mensagem para manter em duas linhas */
    overflow: hidden; /* Adicionando overflow:hidden para garantir que o texto não ultrapasse a caixinha */
}

.mensagem a {
    text-decoration: none !important; /* Remover sublinhado de link */
    color: #ffde59;
}


@media (max-width: 1200px) {
  .voltar-img {
    width: 25px; /* Reduz o tamanho da imagem para telas médias */
    top: 45px; /* Ajusta a posição vertical para telas médias */
  }
}

@media (max-width: 768px) {
  .voltar-img {
    width: 20px; /* Ajusta o tamanho da imagem para tablets */
    top: 40px; /* Ajusta a posição vertical para tablets */
  }
}

@media (max-width: 480px) {
  .voltar-img {
    width: 18px; /* Ajusta o tamanho da imagem para smartphones */
    top: 35px; /* Ajusta a posição vertical para smartphones */
  }
}

/* Estilos para o link "Voltar" */
.voltar-link {
    position: absolute; /* Posicionamento absoluto */
    z-index: 1; /* Coloca o link "Voltar" sobre o gradiente de fundo */
}

/* Desktop Grande */
@media (min-width: 1200px) {
  .container {
    width: 75%;
  }

  .item {
    flex: 1 1 300px;
  }
}

/* Desktop Médio */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 80%;
  }

  .item {
    flex: 1 1 250px;
  }
}

/* Tablet Paisagem */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }

  .item {
    flex: 1 1 200px;
  }
}

/* Tablet Retrato */
@media (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 95%;
  }

  .item {
    flex: 1 1 180px;
  }
}

/* Smartphone Paisagem */
@media (min-width: 480px) and (max-width: 599px) {
  .container {
    width: 100%;
  }

  .item {
    flex: 1 1 160px;
  }
}

/* Smartphone Retrato */
@media (max-width: 479px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .item {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  body {
    font-size: 14px;
  }
}