/* DEFINE O CORPO DA PÁGINA */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* DEFINE O CORPO DA PÁGINA */
html, body {
  margin: 0; /* Remover margem padrão */
  padding: 0; /* Remover preenchimento padrão */
  width: 100%; /* Garantir que o corpo ocupe toda a largura da tela */
  height: 100%; /* Garantir que o corpo ocupe toda a altura da tela */
  font-family: "Poppins", sans-serif; /* Define a fonte */
  font-weight: 300; /* Define o peso da fonte */
  font-style: normal; /* Define o estilo da fonte */
  overflow-x: hidden; /* Remove o deslocamento horizontal */
  overflow-y: hidden;
}  

.diagonal-gradient {
  position: fixed; /* Fixar a posição para cobrir a tela toda */
  top: 0;
  left: 0;
  width: 100%; /* Ajustar para 100% da largura da viewport */
  height: 100vh; 
  background: linear-gradient(to bottom right, #003185, #000000);
  z-index: -1; /* Garantir que o gradiente esteja atrás de todo o conteúdo */
}

html {
  max-width: 100%; /* Ajustar para 100% para evitar deslocamento */
}  

.navbar {
  background-color: #000000; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  padding: 60px 0; /* Preenchimento vertical apenas */
  position: relative; /* Define a posição relativa */
  display: flex; /* Layout flexível */
  justify-content: space-between; /* Alinhamento dos itens */
  align-items: center; /* Centraliza os itens verticalmente */
  border-bottom: 1px solid #fff; /* Borda branca na parte inferior */
  width: 100%; /* Ocupará 100% da largura da viewport */
  left: 0; /* Alinhamento à esquerda */
  right: 0; /* Alinhamento à direita */
  margin: 0; /* Remove qualquer margem */
  box-sizing: border-box; /* Inclui preenchimento e borda na largura total */
}

/* Estilos para o ícone de perfil */
.Perfil-Momentaneo {
  position: absolute;
  right: 91vw; /* Use vw (viewport width) para manter a distância da borda direita relativa ao tamanho da tela */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Mantém centralizado verticalmente */
  display: flex;
  justify-content: flex-start;
}

.Perfil-Momentaneo img {
  width: 80px;
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 50%;
  object-fit: cover;
}

/* Responsividade para telas menores */
@media (max-width: 991px) {
  .Perfil-Momentaneo {
    right: 10vw; /* Aumenta a margem da direita para telas menores */
  }
}

@media (max-width: 767px) {
  .Perfil-Momentaneo {
    right: 15vw; /* Ajusta ainda mais a posição para telas de tablets ou menores */
  }
}

/* ESTILOS PARA O DROPDOWN */
.dropdown {
  position: absolute; /* Define a posição absoluta */
  right: 20px; /* Alinha o dropdown à direita */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Centraliza verticalmente */
}

.dropbtn {
  background-color: #000000; /* Define a cor de fundo do botão */
  color: #2EDBD3; /* Define a cor do texto */
  padding: 16px; /* Adiciona preenchimento */
  font-size: 40px; /* Define o tamanho da fonte */
  border: none; /* Remove a borda */
  cursor: pointer; /* Altera o cursor para indicar que é clicável */
}

/* ESTILOS PARA O CONTEÚDO DO DROPDOWN */
.dropdown-content {
  display: none; /* Oculta o conteúdo por padrão */
  position: absolute; /* Define a posição absoluta */
  background: linear-gradient(to bottom right, rgb(0, 0, 0), #003185); /* Define o gradiente de fundo */
  min-width: 150px; /* Define a largura mínima */
  z-index: 1; /* Define a ordem de empilhamento */
  overflow: hidden; /* Oculta o overflow */
  transition: max-height 0.3s ease-in-out; /* Aplica uma transição suave */
  max-height: 0; /* Define a altura máxima inicialmente como zero */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  right: 0; /* Alinha o dropdown à direita */
}

.dropdown.active .dropdown-content {
  display: block; /* Exibe o conteúdo quando o dropdown está ativo */
  max-height: 230px; /* Define a altura máxima */
}

/* ESTILOS PARA OS ITENS DO DROPDOWN */
.dropdown-content a {
  color: rgb(255, 255, 255); /* Define a cor do texto */
  padding: 12px 16px; /* Adiciona preenchimento */
  text-decoration: none; /* Remove a decoração de texto */
  display: flex; /* Define como flex para permitir o alinhamento */
  align-items: center; /* Centraliza verticalmente */
}

.dropdown-content a:hover {
  background-color: #6e6e6e; /* Define a cor de fundo ao passar o mouse */
}

/* ESTILOS PARA OS ITENS DO DROPDOWN */
.dropdown-item {
  padding: 3px; /* Reduz o preenchimento interno dos itens */
  margin: 10px; /* Adiciona uma margem entre os itens e a caixa do dropdown */
  border: 1px solid #ccc; /* Adiciona uma borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  display: flex; /* Usa flexbox para alinhar os itens horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  justify-content: flex-start; /* Alinha os itens à esquerda */
  background: linear-gradient(to bottom right, rgb(0, 0, 0), #003185); /* Define o gradiente de fundo */
  color: #fff; /* Define a cor do texto */
}

/* ESTILOS PARA AS IMAGENS DENTRO DOS ITENS DO DROPDOWN */
.dropdown-item img {
  width: 20px; /* Ajuste conforme necessário */
  height: 20px; /* Ajuste conforme necessário */
  margin-right: 10px; /* Adiciona espaço entre a imagem e o texto */
}

/* Estilos para o texto "Categorias" */
.categorias {
  color: #2EDBD3; /* Cor do texto */
  font-size: 25px; /* Tamanho da fonte */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
  white-space: nowrap; /* Evita que o texto quebre em linhas */
}

/* ESTILOS PARA AS CAIXINHAS PRETAS */
.container {
  display: flex; /* Usa um layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  flex-wrap: wrap; /* Permite que as caixinhas se reorganizem em várias linhas */
  gap: 20px; /* Espaçamento entre as caixinhas */
  padding: 20px; /* Adiciona algum preenchimento ao redor das caixinhas */
  position: relative; /* Torna o container um contexto de posicionamento */
  height: 100vh; /* Ocupa toda a altura da tela */
}

/* ESTILOS PARA CADA CONJUNTO DE CAIXINHAS */
.caixinha-container {
  position: relative; /* Permite o uso de left e top */
  left: 15%; /* Move para a esquerda 30% da largura da tela */
  top: -20%; /* Move para baixo 50% da altura da tela */
  display: flex; /* Usa um layout flexível */
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  text-align: center; /* Alinha o texto ao centro */
  margin: 40px; /* Margens automáticas para centralização */
  height: 100vh; /* Ocupa toda a altura da tela */
}

/* ESTILOS PARA CADA CAIXINHA */
.caixinha {
  width: 90px; /* Largura padrão para dispositivos menores */
  height: 90px; /* Altura padrão para dispositivos menores */
  background-color: #000; /* Define a cor de fundo como preto */
  border: 1px solid #fff; /* Adiciona uma borda branca */
  display: flex; /* Usa um layout flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

/* Ajustes responsivos para diferentes tamanhos de tela */
@media (max-width: 1024px) {
  .caixinha {
    width: 80px; /* Ajusta a largura para telas menores */
    height: 80px; /* Ajusta a altura para telas menores */
  }

  .container {
    gap: 15px; /* Reduz o espaçamento em telas menores */
  }
}

@media (max-width: 768px) {
  .caixinha {
    width: 70px; /* Ajusta a largura para telas ainda menores */
    height: 70px; /* Ajusta a altura para telas ainda menores */
  }

  .container {
    gap: 10px; /* Espaçamento ainda menor em telas pequenas */
  }
}

@media (max-width: 480px) {
  .caixinha {
    width: 60px; /* Ajusta a largura para telas pequenas */
    height: 60px; /* Ajusta a altura para telas pequenas */
  }

  .container {
    gap: 5px; /* Espaçamento mínimo em telas pequenas */
  }
}

.caixinha img {
  max-width: 80%; /* Define a largura máxima como percentual */
  max-height: 80%; /* Define a altura máxima como percentual */
  width: auto; /* Define a largura automática */
  height: auto; /* Define a altura automática */
  display: block; /* Define como bloco */
}

/* ESTILOS PARA O TEXTO DENTRO DAS CAIXINHAS */
.mensagem {
  color: #2EDBD3;
  font-size: 11px; /* Reduzindo o tamanho da fonte */
  font-family: "Poppins", sans-serif;
  text-align: center; /* Centraliza o texto */
  margin-top: 5px; /* Espaço entre a caixinha e o texto */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px; /* Mantém a largura da mensagem */
  overflow: hidden; /* Garante que o texto não ultrapasse a caixinha */
}

.mensagem a {
  text-decoration: none !important; /* Remove o sublinhado do link */
  color: #ffde59;
}

a {
  text-decoration: none !important;
}

/* Desktop Grande */
@media (min-width: 1200px) {
  .container {
    width: 75%;
  }

  .item {
    flex: 1 1 300px;
  }
}

/* Desktop Médio */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 80%;
  }

  .item {
    flex: 1 1 250px;
  }
}

/* Tablet Paisagem */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
  }

  .item {
    flex: 1 1 200px;
  }
}

/* Tablet Retrato */
@media (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 95%;
  }

  .item {
    flex: 1 1 180px;
  }
}

/* Smartphone Paisagem */
@media (min-width: 480px) and (max-width: 599px) {
  .container {
    width: 100%;
  }

  .item {
    flex: 1 1 160px;
  }
}

/* Smartphone Retrato */
@media (max-width: 479px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .item {
    flex: 1 1 100%;
    margin: 5px 0;
  }

  body {
    font-size: 14px;
  }
}